.main {
    width: 70vw;
    margin-top: 100px;
}

.section1 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.section1>div {
    width: 50%;
    margin: 20px
}

.section2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.section2>div {
    width: 50%;
    margin: 20px
}

.logo2 {
    display: flex;
    justify-content: end;
}