.password_generator {
    color: #fff;
    background: #000;
    width: 1160px;
    height: 328px;
    text-align: center;
}

.password_generator__texts {
    margin-top: 48px;
    word-break: break-all;
    white-space: inherit;
    margin-bottom: 20px;
}

.text {
    padding: 8px
}

.arrow_btn:hover {
    cursor: pointer;
}

.copy_btn {
    background-color: #09A858;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 0 35px 0 35px
}

.copy_btn:hover {
    cursor: pointer;
}

.password_input {
    width: 40%;
    height: 50px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}

.filters {
    display: flex;
    justify-content: center;
}

.filter {
    margin: 0 15px 0 15px;
}

.checkbox {
    margin-right: 5px;
}